<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>{{title}}</h1>

<ul>
  <li *ngFor="let movie of movies" (click)="setCurrentMovie(movie)">{{movie.title}}</li>
</ul>

<div
  *ngIf="this.currentMovie"
  class="details w-full bg-cover"
  style="background-image: url('{{this.currentBackdrop}}');"
>
  <img src="{{this.currentMovie.poster_path}}" alt="{{this.currentMovie.title}} Poster" class="max-w-md">
  
  <div>
    <h1 class="text-2xl">{{ this.currentMovie.title }}</h1>
    <p>{{ this.currentMovie.backdrop_path }}</p>
    <p>{{ this.currentMovie.average_rating }}</p>
    <p>{{ this.currentMovie.release_date }}</p>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
