<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1 class="px-10 py-5">{{title}}</h1>

<div class="flex flex-row">
  <ul class="p-10">
    <li *ngFor="let movie of movies" (click)="setCurrentMovie(movie)" class="cursor-pointer">{{movie.title}}</li>
  </ul>

  <div *ngIf="this.currentMovie" class="details w-full bg-cover p-10 flex flex-row"
    style="background-image: url('{{this.currentBackdrop}}');">

    <div class="w-1/2 md:text-right">
      <img src="{{this.currentMovie.poster_path}}" alt="{{this.currentMovie.title}} Poster" class="max-w-md" />
    </div>

    <div class="p-10 mx-10 w-1/2 backdrop-blur-md bg-white/30">
      <h1 class="text-2xl">{{ this.currentMovie.title }}</h1>
      <p>{{ this.currentMovie.average_rating }}</p>
      <p>{{ this.currentMovie.release_date }}</p>
    </div>
  </div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>

